<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openWeatherApiKey</key>
	<string>3cf84247f8f8cde87d05842f275dc984</string>
	<key>fixerApiKey</key>
	<string>96c8a9f702a1bf65db66c025d887480e</string>
	<key>googleApiKey</key>
	<string>AIzaSyD429h8dLabz6zlT-DJg8lS14JpVOka8Y0</string>
</dict>
</plist>
